<html>
    <%- include('partials/head') %>
    <tbody>

        <h1><%= title %></h1>
        <p><%= message1 %></p>
        <table border="1">
            <thead> <!-- Encabezado de tabla-->
              <tr>
                <th>Nombre</th>
                <th>Precio</th>
              </tr>
            </thead>
            <tbody> <!-- Info de cada linea en la tabla - Recorriendo el array -->
              <% for (let i = 0; i < products.length; i++) { %>
                <tr> 
                  <td><%= products[i].nombre %></td> 
                  <td><%= products[i].precio %></td> 
                </tr>
              <% } %>
            </tbody>
          </table>
    </tbody>

</html>